@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100;
}

@media print {
  nav,
  .no-print {
    display: none !important;
  }
  body {
    background: white !important;
    color: black !important;
  }
}
